body{
               text-align: center;
               font-size: 10px;
               background-color: aqua;
               display: flex;
               justify-content: center;
}
.manu{
               margin-top: 100px;
               width: 40%;
               height: 150px;
               background-color: aliceblue;
}